body {
  margin: 0;
}

.tileMenu {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  width: 235px;
  height: calc(100% - 5px);
  overflow-y: scroll;
  padding: 5px 0 0 5px;
}

.tileMenu__tile {
  width: 60px;
  margin: 5px;
  float: left;
  transition: all 50ms;
  cursor: pointer;
}

.tileMenu__tile--active,
.tileMenu__tile:hover {
  margin-top: -2px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.clear {
  clear: both;
}
